<div class="js-scroll-container">
  <div class="info-card">
    <div class="header">
      <div class="profile profile-rounded pull-left js-profile" style="background-image: url({{imgURL}});"></div>
      <ul class="meta pull-left">
        <li class="name">
          {{name}}
        </li>
        <li class="hash">
          {{tags}}
        </li>
      </ul>
      <ul class="action">
        <li><i class="fa fa-code-fork fa-lg js-fork"></i></li>
        <li><i class="fa fa-envelope-o fa-lg js-send"></i></li>
      </ul>
    </div>
    <p class="textbox">{{description}}</p>
    <hr>
    {{{content}}}
  </div>
  <div class="footer">
    <div class="by pull-right">
      By <ul>{{{contributors}}}</ul>
    </div>
  </div>
</div>
